# The range() function

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers). we can also define the start , stop , step size as range(start,stop,step size). Step size defaults to 1 if not provided. This does not store all the value in memory. It would be inefficient. So it remembers the start , stop, step size and generates the next number on the go.

To force this function to output all the items , we can use the function list() the following example will clarify this.

In [9]:
print(range(10))

range(0, 10)

In [2]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
roll_num = list(range(1,8))

In [4]:
roll_num

[1, 2, 3, 4, 5, 6, 7]

In [5]:
step_size = list(range(0,40,3))

In [6]:
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [10]:
incrs_by_hund = list(range(100,1700,100))

In [11]:
incrs_by_hund

[100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500,
 1600]

In [16]:
incrs_by_hund.append(1700)

incrs_by_hund

In [17]:
incrs_by_hund

[100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500,
 1600,
 1700]

In [25]:
# Decreasing order starting from HIGHEST TO LOWEST

reverse = list(range(1700,-1,-100))

In [26]:
reverse

[1700,
 1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100,
 0]

range function dont work for float data. We will learn how to fix this issue in the numPy classes.