# Tuple

In [2]:
# Can create a tuple with mixed types
work_location = ('Bangloru','Noida','Chennai','Delhi')
work_location

('Bangloru', 'Noida', 'Chennai', 'Delhi')

In [5]:
type(work_location)

tuple

In [6]:
work_location.append('Haldwani')

AttributeError: 'tuple' object has no attribute 'append'

# Not Possible as it is immutable

But how do i add it?
yes, we can convert tuple into list and change the  data as per your wish

In [10]:
# conver into list and reassign or you can store in new variable as per the need
work_location = list(work_location)
work_location

['Bangloru', 'Noida', 'Chennai', 'Delhi']

In [11]:
type(work_location)

list

In [12]:
# Changed the data
work_location.append('Haldwani')
work_location

['Bangloru', 'Noida', 'Chennai', 'Delhi', 'Haldwani']

In [13]:
work_location[3] = 'Nainital'

In [14]:
work_location

['Bangloru', 'Noida', 'Chennai', 'Nainital', 'Haldwani']

In [15]:
# Also we can change list again into tuple
work_location = tuple(work_location)

In [16]:
work_location

('Bangloru', 'Noida', 'Chennai', 'Nainital', 'Haldwani')

In [17]:
type(work_location)

tuple

How many cities in the tuple

In [18]:
# check len just like a list
len(work_location)

5

# Similarly you can work with numbers as well. No change in the concept

In [19]:
work_location

('Bangloru', 'Noida', 'Chennai', 'Nainital', 'Haldwani')

In [20]:
# use indexing just like we did in lists
work_location[1]

'Noida'

In [21]:
# Slicing just like a list
work_location[-2]

'Nainital'

# Basic Tuple methods

In [25]:
num = (25,50,58,60,70,90,50,45,50)
num

(25, 50, 58, 60, 70, 90, 50, 45, 50)

In [29]:
# use .index to entre a value and return the index
num.index(70)

4

In [28]:
# use .count to count the number of times a value appears
num.count(50)

3